body
{
    padding: 0;
    margin: 0;
}

.button {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: grey;
    left: 400px;
    top: 300px;
  
}

#Button2{
    left: 100px;
    top: 200px;
}

#Button3{
    left: 600px;
    top: 600px;
}
.border{
    /* border: 6px solid black; */
    border-radius: 10px;
}